<?xml version="1.0" encoding="utf-8"?>
<!--

   AlsaGPS is a panic button app for Android
   Copyright (C) 2016 Moisés Díaz

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software Foundation,
   Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA

 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdc.elementary.alsagps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AboutScreenActivity" ></activity>
        <activity android:name="AddContactActivity" ></activity>
        <activity android:name="ContactsScreenActivity" ></activity>
        <activity android:name="InitialScreenActivity" ></activity>
        <activity android:name="PersonalMessageActivity" ></activity>
        <activity android:name="SettingsScreenActivity" ></activity>
        <activity android:name="StartingPointActivity" ></activity>
    </application>

</manifest>